.post-toc {
    height: 300px;
    overflow: scroll;
}
.bbc-spoiler, .bbc-spoiler li {
    background-color: #222;
    color: #222;
    border-radius: 0;
    padding: 1px 0 2px;
}
.bbc-spoiler.reveal li, .bbc-spoiler.reveal, .bbc-spoiler.stay {
    background-color: #FAFAFA;
    cursor: pointer;
    box-shadow: none;
}
img.collapsable {
    cursor: zoom-out;
}
img.collapsable.collapsed {
    cursor: zoom-in;
}
